<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCsCSAG_zgIISqoeozeUDC_GtF4IYZ3f9w</string>
	<key>GCM_SENDER_ID</key>
	<string>983611359117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blackcoffer</string>
	<key>PROJECT_ID</key>
	<string>blackcoffer-9ff19</string>
	<key>STORAGE_BUCKET</key>
	<string>blackcoffer-9ff19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:983611359117:ios:7401e3dbd26ccc850507c4</string>
</dict>
</plist>